@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Red+Rose:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
  @apply flex flex-wrap px-4 py-8 items-center;
}
:root {
  --dark-bg: rgba(0, 0, 0, 0.9);
  --text-primary: rgba(255, 255, 255, 0.95);
  --text-secondary: rgba(148, 148, 148, 0.7);
  --border-color: rgba(255, 255, 255, 0.5);

  --star-color: rgba(250, 173, 20, 1);
  --heart-color: rgba(255, 77, 79, 1);
  --dot-color: rgba(255, 255, 255, 0.5);
}

html,
body {
  @apply min-h-screen h-fit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Rose", serif;
}

body {
  margin: 0;
  background-image: url("./assets/images/background.png"); /* Adjust path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.active {
  font-weight: 900;
  color: #ffffff;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #ffffff;
}

.main-content {
  flex: 1; /* Pushes the footer down when content is short */
  display: flex;
  flex-direction: column;
}
